#wrapper {
  position: relative;
  height: 97vh;
  /*
  background-image: url("../img/theme_main.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 60, 0);*/
}

.cat_container_back {
  position: absolute;
  border-style: solid;
  top: 40%;
  left: 25%;
  right: 25%;
  height: 20vh;
  background-color: rgb(188, 192, 192);
  display: inline-flex;
}

.btn_container_back {
  position: absolute;
  border-style: solid;
  top: 63%;
  left: 10%;
  right: 10%;
  height: 30vh;
  background-color: rgb(188, 192, 192);
  display: inline-flex;
}

.timer_button {
  position: relative;
  border-style: solid;
  width: 18%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.timer_button_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#timer {
  position: absolute;
  top: 2%;
  left: 35%;
  right: 35%;
  height: 20vh;
  border-style: solid;
  background-color: rgb(188, 192, 192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.span_timer {
  position: absolute;
  font-size: 6vh;
  text-align: center;
}

#upload_sound {
  position: absolute;
  margin-right: 0.5vw;
  font-size: 90%;
  bottom: 46%;
  left: 10%;
  width: 10%;
  height: 10%;
  animation-name: up_to_down;
  animation-duration: 2s;
}

main>form>div:empty {
  height: 0;
  width: 0;
}

main>form>span:empty {
  height: 0;
  width: 0;
}

main>form>div:not(:empty) {
  position: relative;
  margin: 1%;
  width: 80%;
  border: solid;
  background-color: rgb(240, 199, 199);
}

main>form>span:not(:empty) {
  position: relative;
  margin: 1%;
  width: 100%;
  border: solid;
  background-color: rgb(240, 199, 199);
}

#add_new_meal_form {
  position: absolute;
  background-color: azure;
  border-style: solid;
  top: 28%;
  right: 5%;
  height: auto;
  padding: 0.5%;
  width: auto;
  animation-name: example;
  animation-duration: 3s;
  /*  transform: rotate(90deg);*/
}

#add_new_sound_form {
  position: absolute;
  background-color: azure;
  border-style: solid;
  height: auto;
  width: auto;
  padding: 1%;
  top: 40%;
  left: 5%;
  animation-name: example;
  animation-duration: 3s;
}

#add_new_sound_form input {
  width: 80%;
}

/* The animation code */
@keyframes example {
  0% {
    -webkit-transform: rotate(0) translateZ(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  10% {
    -webkit-transform: rotate(10deg) translateZ(0);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  20% {
    -webkit-transform: rotate(-10deg) translateZ(0);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30% {
    -webkit-transform: rotate(8deg) translateZ(0);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  40% {
    -webkit-transform: rotate(-8deg) translateZ(0);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  50% {
    -webkit-transform: rotate(5deg) translateZ(0);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  60% {
    -webkit-transform: rotate(-5deg) translateZ(0);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  70% {
    -webkit-transform: rotate(3deg) translateZ(0);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  80% {
    -webkit-transform: rotate(-3deg) translateZ(0);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  90% {
    -webkit-transform: rotate(0deg) translateZ(0);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg) translateZ(0);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

#add_button {
  position: absolute;
  font-size: medium;
  bottom: 46%;
  right: 10%;
  margin-left: 0.5vw;
  width: 10%;
  height: 10%;
  animation-name: up_to_down;
  animation-duration: 2s;
}

/* The animation code */
@keyframes up_to_down {
  0% {
    background-color: red;
    bottom: 80%;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: green;
  }
}

#prev_button {
  position: absolute;
  margin-right: 0.5vw;
  bottom: 6%;
  left: 2%;
  width: 4%;
  height: 30%;
}

#next_button {
  position: absolute;
  bottom: 6%;
  right: 2%;
  margin-left: 0.5vw;
  width: 4%;
  height: 30%;
}

.cat_one {
  position: absolute;
  height: 90%;
  width: 29%;
  top: 4%;
  left: 2%;
  border-style: solid;
}

.cat_two {
  position: absolute;
  height: 90%;
  width: 29%;
  top: 4%;
  left: 35%;
  border-style: solid;
}

.cat_three {
  position: absolute;
  height: 90%;
  width: 29%;
  top: 4%;
  left: 68%;
  border-style: solid;
}

.arrow {
  position: absolute;
  left: 47.5%;
  top: 30%;
  height: 10%;
}



body {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0px;
  left: 0px;
  text-align: center;
}

input {
  width: 15%;
  margin: 1%;
}

/*
#add_new_meal_form label {
  margin: 1%;
}
*/
#picture {
  width: 60%;
}

#submit_but {
  width: 80%;
}


#add_new_meal_form input:focus {
  background-color: rgb(151, 210, 229);
}